:root {
  --elemento__cartao-height: 300px;
  --elemento__cartao-width: calc(var(--elemento__cartao-height) / 1.5);
}
* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #212123;
}
.elemento__cartao {
  width: var(--elemento__cartao-width);
  height: var(--elemento__cartao-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 0 50px;
}
.elemento__foto__cobertura {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.caixa__foto {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.elemento__cartao:hover .caixa__foto {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}
.caixa__foto::before,
.caixa__foto::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.caixa__foto::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.caixa__foto::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.elemento__cartao:hover .caixa__foto::before,
.caixa__foto::after {
  opacity: 1;
}
.elemento__cartao:hover .caixa__foto::after {
  height: 120px;
}
.elemento__titulo {
  width: 100%;
  transition: transform 0.5s;
}
.elemento__cartao:hover .elemento__titulo {
  transform: translate3d(0%, -50px, 100px);
}
.elemento__personagem {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}
.elemento__cartao:hover .elemento__personagem {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}
