body {
  background: #f2f4f8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  font-family: "Verdana";
}

.html {
  --bg-color: #e44f26;
  --bg-color-light: #ffd4c8;
  --text-color-hover: #fff;
  --box-shadow-color: rgba(255, 215, 97, 0.48);
}

.css {
  --bg-color: #1673b6;
  --bg-color-light: #cdeaff;
  --text-color-hover: #fff;
  --box-shadow-color: rgba(188, 221, 255, 0.48);
}

.js {
  --bg-color: #f8de1a;
  --bg-color-light: #fff8c7;
  --text-color-hover: #4c5656;
  --box-shadow-color: rgba(252, 255, 189, 0.762);
}

.git {
  --bg-color: #df4d36;
  --bg-color-light: #ffe4e0;
  --text-color-hover: #fff;
  --box-shadow-color: rgba(255, 202, 152, 0.48);
}

.card {
  width: 220px;
  height: 321px;
  background: #fff;
  border-top-right-radius: 10px;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease-out;
  text-decoration: none;
}

.card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px var(--box-shadow-color);
}

.card:hover .cor__cobertura {
  transform: scale(4) translateZ(0);
}

.card:hover .circulo {
  background: var(--bg-color);
  border: 2px dotted var(--bg-color-light);
}

.card:hover .circulo:after {
  background: var(--bg-color-light);
}

.card:hover p {
  color: var(--text-color-hover);
}

.card:active {
  transform: scale(1) translateZ(0);
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11),
    0 15px 24px var(--box-shadow-color);
}

.card p {
  font-size: 17px;
  color: #4c5656;
  margin-top: 30px;
  z-index: 1000;
  transition: color 0.3s ease-out;
}

.circulo {
  width: 131px;
  height: 131px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.circulo:after {
  content: "";
  width: 118px;
  height: 118px;
  display: block;
  position: absolute;
  background: var(--bg-color);
  border-radius: 50%;
  top: 7px;
  left: 7px;
  transition: opacity 0.3s ease-out;
}

.circulo svg {
  z-index: 10000;
  transform: translateZ(0);
}

.cor__cobertura {
  width: 118px;
  position: absolute;
  height: 118px;
  border-radius: 50%;
  background: var(--bg-color);
  top: 70px;
  left: 50px;
  z-index: 0;
  transition: transform 0.3s ease-out;
}
