.escadinha {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.circulo {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: animacaoCirculo 0.5s alternate infinite ease;
}

@keyframes animacaoCirculo {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circulo:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.circulo:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.sombrola {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: animacaoSombrola 0.5s alternate infinite ease;
}

@keyframes animacaoSombrola {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.sombrola:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.sombrola:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
