*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #212123;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.conteudo-geral {
  position: relative;
  overflow: hidden;
  height: 100vh;
  padding: 80px 70px;
}
.componente-interno-geral {
  position: relative;
  height: 100%;
}
.componente-interno-geral:hover .componente-fundo-imagem:after {
  opacity: 1;
}

.componente {
  position: absolute;
  left: 0;
  top: 0;
  width: 19.2%;
  height: 100%;
  background: #252525;
  transition: transform 0.6s 0.7s, width 0.7s, opacity 0.6s 0.7s,
    z-index 0s 1.3s;
  will-change: transform, width, opacity;
}
.componente:not(.caixa-conteudo-ativo) {
  cursor: pointer;
}
.componente-sem-rolagem {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.componente-interno {
  overflow: hidden;
  position: relative;
  height: 100%;
  transition: transform 1s;
}
.conteudo-geral.js-conteudo-geral .componente-interno {
  transform: translate3d(0, 100%, 0);
}
.componente-fundo-imagem {
  position: relative;
  height: 100%;
  transition: transform 0.6s 0.7s;
  will-change: transform;
}

.conteudo-geral.caixa--componente-ativo .componente-fundo-imagem {
  width: calc(100vw - 140px);
}

.componente-fundo-imagem:before {
  content: "";
  position: absolute;
  left: 0;
  top: -5%;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: center center;
  transition: transform 1s;
  transform: translate3d(0, 0, 0) scale(1);
}

.conteudo-geral.js-conteudo-geral .componente-fundo-imagem:before {
  transform: translate3d(0, -100%, 0) scale(1.2);
}
.componente.caixa-conteudo-ativo .componente-fundo-imagem:before {
  transition: transform 0.8s;
}
.componente-fundo-imagem:after {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.5s;
}
.conteudo-geral.caixa--componente-ativo .componente-fundo-imagem:after {
  transition: opacity 0.5s 1.4s;
  opacity: 1 !important;
}
.componente-visual-inicial {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s 1.2s;
}
.conteudo-geral.js-conteudo-geral .componente-visual-inicial {
  opacity: 0;
  transform: translateY(10px);
}
.conteudo-geral.caixa--componente-ativo .componente-visual-inicial {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s;
}
.componente-titulo {
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
}
.componente-content {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.1s;
}
.componente.caixa-conteudo-ativo .componente-content {
  z-index: 2;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.5s 1.4s;
}
.componente-text {
  text-transform: uppercase;
  font-size: 40px;
  color: #fff;
}
.componente-botao-fechar {
  z-index: -1;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 60px;
  height: 60px;
  opacity: 0;
  pointer-events: none;
  transition: all 0s 0.45s;
  cursor: pointer;
}
.componente.caixa-conteudo-ativo .componente-botao-fechar {
  z-index: 5;
  opacity: 1;
  pointer-events: auto;
  transition: all 0s 1.4s;
}
.componente-botao-fechar:before,
.componente-botao-fechar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 8px;
  margin-top: -4px;
  background: #fff;
  opacity: 0;
  transition: opacity 0s;
}
.componente.caixa-conteudo-ativo .componente-botao-fechar:before,
.componente.caixa-conteudo-ativo .componente-botao-fechar:after {
  opacity: 1;
}
.componente-botao-fechar:before {
  transform: rotate(45deg) translateX(100%);
}
.componente.caixa-conteudo-ativo .componente-botao-fechar:before {
  transition: all 0.3s 1.4s cubic-bezier(0.72, 0.09, 0.32, 1.57);
  transform: rotate(45deg) translateX(0);
}
.componente-botao-fechar:after {
  transform: rotate(-45deg) translateX(100%);
}
.componente.caixa-conteudo-ativo .componente-botao-fechar:after {
  transition: all 0.3s 1.55s cubic-bezier(0.72, 0.09, 0.32, 1.57);
  transform: rotate(-45deg) translateX(0);
}
.componente-index {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  min-height: 250px;
  text-align: center;
  font-size: 20vw;
  line-height: 0.85;
  font-weight: bold;
  transition: transform 0.5s, opacity 0.3s 1.4s;
  transform: translate3d(0, 1vw, 0);
}
.componente:hover .componente-index {
  transform: translate3d(0, 0, 0);
}
.conteudo-geral.caixa--componente-ativo .componente-index {
  transition: transform 0.5s, opacity 0.3s;
  opacity: 0;
}
.componente-index-back,
.componente-index-front {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.componente-index-back {
  color: #2f3840;
  opacity: 0;
  transition: opacity 0.25s 0.25s;
}
.componente:hover .componente-index-back {
  transition: opacity 0.25s;
  opacity: 1;
}
.componente-index-overlay {
  overflow: hidden;
  position: relative;
  transform: translate3d(0, 100%, 0);
  transition: transform 0.5s 0.1s;
  color: transparent;
}
.componente-index-overlay:before {
  content: attr(data-index);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  transform: translate3d(0, -100%, 0);
  transition: transform 0.5s 0.1s;
}
.componente:hover .componente-index-overlay {
  transform: translate3d(0, 0, 0);
}
.componente:hover .componente-index-overlay:before {
  transform: translate3d(0, 0, 0);
}
.componente:nth-child(1) {
  transform: translate3d(0%, 0, 0);
  transform-origin: 50% 50%;
}
.conteudo-geral.caixa--componente-ativo
  .componente:nth-child(1):not(.caixa-conteudo-ativo) {
  transform: scale(0.5) translate3d(0%, 0, 0);
  opacity: 0;
  transition: transform 0.95s, opacity 0.95s;
}
.componente:nth-child(1) .componente-interno {
  transition-delay: 0s;
}
.componente:nth-child(1) .componente-fundo-imagem {
  transform: translate3d(0%, 0, 0);
}
.componente:nth-child(1) .componente-fundo-imagem:before {
  transition-delay: 0s;
  background-image: url("../images/ic-html.jpg");
}
.componente:nth-child(2) {
  transform: translate3d(105.2083333333%, 0, 0);
  transform-origin: 155.2083333333% 50%;
}
.conteudo-geral.caixa--componente-ativo
  .componente:nth-child(2):not(.caixa-conteudo-ativo) {
  transform: scale(0.5) translate3d(105.2083333333%, 0, 0);
  opacity: 0;
  transition: transform 0.95s, opacity 0.95s;
}
.componente:nth-child(2) .componente-interno {
  transition-delay: 0.1s;
}
.componente:nth-child(2) .componente-fundo-imagem:before {
  transition-delay: 0.1s;
  background-image: url("../images/ic-css.jpg");
}
.componente:nth-child(3) {
  transform: translate3d(210.4166666667%, 0, 0);
  transform-origin: 260.4166666667% 50%;
}
.conteudo-geral.caixa--componente-ativo
  .componente:nth-child(3):not(.caixa-conteudo-ativo) {
  transform: scale(0.5) translate3d(210.4166666667%, 0, 0);
  opacity: 0;
  transition: transform 0.95s, opacity 0.95s;
}
.componente:nth-child(3) .componente-interno {
  transition-delay: 0.2s;
}
.componente:nth-child(3) .componente-fundo-imagem:before {
  transition-delay: 0.2s;
  background-image: url("../images/ic-javascript.jpg");
}
.componente:nth-child(4) {
  transform: translate3d(315.625%, 0, 0);
  transform-origin: 365.625% 50%;
}
.conteudo-geral.caixa--componente-ativo
  .componente:nth-child(4):not(.caixa-conteudo-ativo) {
  transform: scale(0.5) translate3d(315.625%, 0, 0);
  opacity: 0;
  transition: transform 0.95s, opacity 0.95s;
}
.componente:nth-child(4) .componente-interno {
  transition-delay: 0.3s;
}
.componente:nth-child(4) .componente-fundo-imagem:before {
  transition-delay: 0.3s;
  background-image: url("../images/ic-git.jpg");
}
.componente:nth-child(5) {
  transform: translate3d(420.8333333333%, 0, 0);
  transform-origin: 470.8333333333% 50%;
}
.conteudo-geral.caixa--componente-ativo
  .componente:nth-child(5):not(.caixa-conteudo-ativo) {
  transform: scale(0.5) translate3d(420.8333333333%, 0, 0);
  opacity: 0;
  transition: transform 0.95s, opacity 0.95s;
}
.componente:nth-child(5) .componente-interno {
  transition-delay: 0.4s;
}
.componente:nth-child(5) .componente-fundo-imagem:before {
  transition-delay: 0.4s;
  background-image: url("../images/ic-react.jpg");
}
.componente:hover .componente-fundo-imagem:after {
  opacity: 0;
}
.componente.caixa-conteudo-ativo {
  z-index: 1;
  width: 100%;
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s, width 0.7s 0.7s, z-index 0s;
}
.componente.caixa-conteudo-ativo .componente-fundo-imagem {
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s;
}
.componente.caixa-conteudo-ativo .componente-fundo-imagem:before {
  transition-delay: 0.6s;
  transform: scale(1.1);
}

@media screen and (max-width: 1120px) {
  .componente-titulo {
    font-size: 1rem;
  }
}
