.elemento__botao_saida {
  --elemento__botao--conjunto-duration: 100ms;
  --transform-elemento__botao--conjunto: none;
  --duracao--caminhada: 100ms;
  --transform-elemento__botao--braco1: none;
  --transform-pulso1: none;
  --transform-elemento__botao--braco2: none;
  --transform-pulso2: none;
  --transform-elemento__botao--perna1: none;
  --transform-parturilha1: none;
  --transform-elemento__botao--perna2: none;
  --transform-parturilha2: none;
  background: none;
  border: 0;
  color: #f4f7ff;
  cursor: pointer;
  display: block;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  outline: none;
  padding: 0 0 0 20px;
  perspective: 100px;
  position: relative;
  text-align: left;
  width: 130px;
  -webkit-tap-highlight-color: transparent;
}

.elemento__botao_saida::before {
  background-color: #1f2335;
  border-radius: 5px;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: none;
  transition: transform 50ms ease;
  width: 100%;
  z-index: 2;
}
.elemento__botao_saida:hover .elemento__botao--porta {
  transform: rotateY(20deg);
}
.elemento__botao_saida:active::before {
  transform: scale(0.96);
}

.elemento__botao_saida:active .elemento__botao--porta {
  transform: rotateY(28deg);
}
.elemento__botao_saida.clicked::before {
  transform: none;
}
.elemento__botao_saida.clicked .elemento__botao--porta {
  transform: rotateY(35deg);
}
.elemento__botao_saida.elemento__botao--porta-slammed .elemento__botao--porta {
  transform: none;
  transition: transform 100ms ease-in 250ms;
}
.elemento__botao_saida.falling {
  animation: shake 200ms linear;
}
.elemento__botao_saida.falling .elemento__botao--detalhe-batida {
  animation: flash 300ms linear;
}

.elemento__botao_saida.falling .elemento__botao--conjunto {
  animation: spin 1000ms infinite linear;
  bottom: -1080px;
  opacity: 0;
  right: 1px;
  transition: transform calc(var(--elemento__botao--conjunto-duration) * 1ms)
      linear,
    bottom calc(var(--elemento__botao--conjunto-duration) * 1ms)
      cubic-bezier(0.7, 0.1, 1, 1) 100ms,
    opacity calc(var(--elemento__botao--conjunto-duration) * 0.25ms) linear
      calc(var(--elemento__botao--conjunto-duration) * 0.75ms);
  z-index: 1;
}
.elemento__botao_saida--light::before {
  background-color: #f4f7ff;
}
.elemento__botao_saida--light .elemento__botao--texto {
  color: #1f2335;
}

.elemento__botao_saida--light .elemento__botao--porta,
.elemento__botao_saida--light .elemento__botao--porta {
  fill: #1f2335;
}
.elemento__botao--texto {
  color: #f4f7ff;
  font-weight: 500;
  position: relative;
  z-index: 10;
}
svg {
  display: block;
  position: absolute;
}

.elemento__botao--conjunto {
  bottom: 5px;
  fill: #8b80f9;
  right: 18px;
  transform: var(--transform-elemento__botao--conjunto);
  transition: transform calc(var(--elemento__botao--conjunto-duration) * 1ms)
    cubic-bezier(0.2, 0.1, 0.8, 0.9);
  width: 30px;
  z-index: 4;
}
.elemento__botao--porta,
.elemento__botao--porta {
  bottom: 4px;
  fill: #f4f7ff;
  right: 12px;
  width: 32px;
}
.elemento__botao--porta {
  transform: rotateY(20deg);
  transform-origin: 100% 50%;
  transform-style: preserve-3d;
  transition: transform 200ms ease;
  z-index: 5;
}
.elemento__botao--porta path {
  fill: #8b80f9;
  stroke: #8b80f9;
  stroke-width: 4;
}
.elemento__botao--porta {
  z-index: 3;
}
.elemento__botao--detalhe-batida {
  opacity: 0;
}
.elemento__botao--braco1,
.wrist1,
.elemento__botao--braco2,
.wrist2,
.elemento__botao--perna1,
.calf1,
.elemento__botao--perna2,
.calf2 {
  transition: transform calc(var(--duracao--caminhada) * 1ms) ease-in-out;
}
.elemento__botao--braco1 {
  transform: var(--transform-elemento__botao--braco1);
  transform-origin: 52% 45%;
}
.wrist1 {
  transform: var(--transform-pulso1);
  transform-origin: 59% 55%;
}
.elemento__botao--braco2 {
  transform: var(--transform-elemento__botao--braco2);
  transform-origin: 47% 43%;
}
.wrist2 {
  transform: var(--transform-pulso2);
  transform-origin: 35% 47%;
}
.elemento__botao--perna1 {
  transform: var(--transform-elemento__botao--perna1);
  transform-origin: 47% 64.5%;
}
.calf1 {
  transform: var(--transform-parturilha1);
  transform-origin: 55.5% 71.5%;
}
.elemento__botao--perna2 {
  transform: var(--transform-elemento__botao--perna2);
  transform-origin: 43% 63%;
}
.calf2 {
  transform: var(--transform-parturilha2);
  transform-origin: 41.5% 73%;
}
@keyframes spin {
  from {
    transform: rotate(0deg) scale(0.94);
  }
  to {
    transform: rotate(359deg) scale(0.94);
  }
}
@keyframes shake {
  0% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}
@keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}
/**** Wrapper styles ****************/
html,
body {
  height: 100%;
}
body {
  align-items: center;
  background: #f4f7ff;
  display: flex;
  justify-content: center;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}
body .fundo__geral {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 50%;
}

body button {
  margin: 20px;
}
