/* ---- reset ---- */

body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}
#js-particulas {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #212123;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.contador__particulas {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-contador__particulas {
  font-size: 1.1em;
}
#status,
.contador__particulas {
  -webkit-user-select: none;
}
#status {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.contador__particulas {
  border-radius: 0 0 3px 3px;
}
